#breadcrumbs li {
	display: inline-block;
	margin-right: 10px;
}

#incidents_map {
  height: 600px;
  width: 100%;
}

#incidents_map_plot {
  position: absolute;
  top: 0;
  left: 0;
}

#response_time_histogram {
  height: 200px;
  width: 100%;
}

#type_bar_chart {
  height: 200px;
  width: 100%;
}
